[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/phpldapadmin"]
	path = puppet/modules/phpldapadmin
	url = https://github.com/Spantree/puppet-phpldapadmin.git
[submodule "puppet/modules/ldapdn"]
	path = puppet/modules/ldapdn
	url = https://github.com/gtmtechltd/puppet_ldapdn.git
[submodule "puppet/modules/openldap"]
	path = puppet/modules/openldap
	url = https://github.com/camptocamp/puppet-openldap.git
[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "puppet/modules/augeasprovider_shellvar"]
	path = puppet/modules/augeasprovider_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "puppet/modules/augeasprovider_core"]
	path = puppet/modules/augeasprovider_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "puppet/modules/puppet-nodejs"]
	path = puppet/modules/puppet-nodejs 
	url = https://github.com/puppet-community/puppet-nodejs
[submodule "oms-core"]
	path = oms-core
	url = git@bitbucket.org:aegeeitc/oms-core.git
