[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/phpldapadmin"]
	path = puppet/modules/phpldapadmin
	url = https://github.com/Spantree/puppet-phpldapadmin.git
[submodule "puppet/modules/ldapdn"]
	path = puppet/modules/ldapdn
	url = https://github.com/gtmtechltd/puppet_ldapdn.git
[submodule "puppet/modules/openldap"]
	path = puppet/modules/openldap
	url = https://github.com/camptocamp/puppet-openldap.git
[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "puppet/modules/augeasprovider_shellvar"]
	path = puppet/modules/augeasprovider_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "puppet/modules/augeasprovider_core"]
	path = puppet/modules/augeasprovider_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "oms-core"]
	path = oms-core
	url = ../oms-core.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/puppet-community/puppet-nodejs.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = https://github.com/tPl0ch/puppet-composer.git
