[submodule "puppet/modules/ldap"]
	path = puppet/modules/ldap
	url = https://github.com/torian/puppet-ldap.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/phpldapadmin"]
	path = puppet/modules/phpldapadmin
	url = https://github.com/Spantree/puppet-phpldapadmin.git
[submodule "puppet/modules/ldapdn"]
	path = puppet/modules/ldapdn
	url = https://github.com/gtmtechltd/puppet_ldapdn.git
